Node-RED Project/flow.json
[
    {
        "id": "f4fce238.f20918",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ea491c7.a2ae9",
        "type": "ui_group",
        "name": "Send",
        "tab": "10240e8e.7d9c11",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9ee141ba.19cb8",
        "type": "ui_group",
        "name": "Trace",
        "tab": "10240e8e.7d9c11",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "d3f45b63.8aeba8",
        "type": "ui_group",
        "name": "Display",
        "tab": "10240e8e.7d9c11",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "10240e8e.7d9c11",
        "type": "ui_tab",
        "name": "Messages",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1d93dae3.b2f445",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "90a2c2ab.287ca8",
        "type": "ui_form",
        "z": "f4fce238.f20918",
        "name": "",
        "label": "Messages",
        "group": "7ea491c7.a2ae9",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Line 1",
                "value": "1",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Line 2",
                "value": "2",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "1": "",
            "2": ""
        },
        "payload": "",
        "submit": "Send",
        "cancel": "Cancel",
        "topic": "UPDATE",
        "topicType": "str",
        "splitLayout": false,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "72f0549f.80afe4"
            ]
        ]
    },
    {
        "id": "a31cfb75.ed595",
        "type": "ui_switch",
        "z": "f4fce238.f20918",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "7ea491c7.a2ae9",
        "order": 3,
        "width": "3",
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "LED",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "d52de4df.88515"
            ]
        ]
    },
    {
        "id": "3731d6b1.e8ef12",
        "type": "comment",
        "z": "f4fce238.f20918",
        "name": "",
        "info": "# Personal Access Token\n\n1. Go to https://console.particle.io/authentication\n\n2. Click on **New Client**\n3. Select **Two-legged Auth (Server)**\n4. Enter the name= `Messages`\n5. Copy the client ID and the key.\n\n* Client ID= `<client-id>`\n* Key= `<client_key>`\n\nHelp and procedure at https://docs.particle.io/tutorials/device-cloud/authentication/",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "3432814b.158a3e",
        "type": "ui_button",
        "z": "f4fce238.f20918",
        "name": "",
        "group": "7ea491c7.a2ae9",
        "order": 5,
        "width": "3",
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "CLEAR",
        "topicType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "d52de4df.88515"
            ]
        ]
    },
    {
        "id": "d52de4df.88515",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"action\": topic, \"data\": payload}",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "event",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "403f3e53.e20e3"
            ]
        ]
    },
    {
        "id": "851629ad.82e55",
        "type": "comment",
        "z": "f4fce238.f20918",
        "name": "",
        "info": "# Input \n\n> {\"payload\":{\"1\":\"Line 1\",\"2\":\"Line 2\"},\"topic\":\"UPDATE\"}\n\n# JSONata 1\n\n`{\"data\": [$each(payload, function($v, $k) {$v})], \"action\": \"update\" }`\n\n> {\n>     \"data\": [\n>         \"Line 1\",\n>         \"Line 2\"\n>     ],\n>     \"action\": \"update\"\n> }\n\n# JSONata 2\n\n`{\"data\": [$spread(payload)], \"action\": \"update\" }\n`\n\n> {\n>     \"data\": [\n>         {\n>             \"1\": \"aaa\\nbbb\\nccc\"\n>         },\n>         {\n>             \"2\": \"ddd\"\n>         }\n>     ],\n>     \"action\": \"update\"\n> }\n\n# JSONata 3\n\n`{\"data\": payload, \"action\": topic }`\n\n> {\n>     \"data\": {\n>         \"1\": \"aaa\\nbbb\\nccc\",\n>         \"2\": \"ddd\"\n>     },\n>     \"action\": \"UPDATE\"\n> }",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "403f3e53.e20e3",
        "type": "json",
        "z": "f4fce238.f20918",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "656cbba1.dfac8c",
                "31ad7f39.af8678"
            ]
        ]
    },
    {
        "id": "656cbba1.dfac8c",
        "type": "debug",
        "z": "f4fce238.f20918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "31ad7f39.af8678",
        "type": "switch",
        "z": "f4fce238.f20918",
        "name": "",
        "property": "$length(payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lt",
                "v": "255",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 320,
        "wires": [
            [
                "72da34a3.7ebb04",
                "5f96608e.fc409"
            ],
            [
                "9983b9a6.301df8"
            ]
        ]
    },
    {
        "id": "9be3962b.fb7ab",
        "type": "ui_toast",
        "z": "f4fce238.f20918",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "9983b9a6.301df8",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$length(payload) & \" > 255 caractères\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Message trop long",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "9be3962b.fb7ab"
            ]
        ]
    },
    {
        "id": "d691c3af.97267",
        "type": "json",
        "z": "f4fce238.f20918",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 540,
        "wires": [
            [
                "19116a93.883f7d",
                "cbeeef1a.0f56b8",
                "357383a7.3f3b0c",
                "de736091.25d5",
                "52ebcfdd.7433e8"
            ]
        ]
    },
    {
        "id": "5f96608e.fc409",
        "type": "ui_text",
        "z": "f4fce238.f20918",
        "group": "9ee141ba.19cb8",
        "order": 8,
        "width": "12",
        "height": "2",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "72f0549f.80afe4",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"action\": topic, \"data\": payload}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "403f3e53.e20e3"
            ]
        ]
    },
    {
        "id": "da636ded.6be2c8",
        "type": "ui_text",
        "z": "f4fce238.f20918",
        "group": "d3f45b63.8aeba8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Top",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 630,
        "y": 560,
        "wires": []
    },
    {
        "id": "16f6d037.62c1",
        "type": "ui_text",
        "z": "f4fce238.f20918",
        "group": "d3f45b63.8aeba8",
        "order": 4,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "Lines",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 630,
        "y": 600,
        "wires": []
    },
    {
        "id": "153f4b07.182eed",
        "type": "ui_text",
        "z": "f4fce238.f20918",
        "group": "d3f45b63.8aeba8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bottom",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "19116a93.883f7d",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 680,
        "wires": [
            [
                "79f9f8de.e413d"
            ]
        ]
    },
    {
        "id": "917dfff6.91a29",
        "type": "ui_button",
        "z": "f4fce238.f20918",
        "name": "",
        "group": "d3f45b63.8aeba8",
        "order": 1,
        "width": "3",
        "height": 1,
        "passthru": false,
        "label": "Check",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "ff8655ee.a479d"
            ]
        ]
    },
    {
        "id": "cbeeef1a.0f56b8",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.bottom",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 640,
        "wires": [
            [
                "153f4b07.182eed"
            ]
        ]
    },
    {
        "id": "357383a7.3f3b0c",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.lines",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 600,
        "wires": [
            [
                "16f6d037.62c1"
            ]
        ]
    },
    {
        "id": "de736091.25d5",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.top",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "da636ded.6be2c8"
            ]
        ]
    },
    {
        "id": "52ebcfdd.7433e8",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.DST",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 720,
        "wires": [
            [
                "ab3fc38d.9654f8"
            ]
        ]
    },
    {
        "id": "ab3fc38d.9654f8",
        "type": "debug",
        "z": "f4fce238.f20918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 720,
        "wires": []
    },
    {
        "id": "72da34a3.7ebb04",
        "type": "particle-publish",
        "z": "f4fce238.f20918",
        "name": "publish",
        "auth": "",
        "scope": "user",
        "product": "",
        "event": "9ac6b059-bfa5-4ae2-b1cc-a9b3a797884f",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "ff8655ee.a479d",
        "type": "particle-variable",
        "z": "f4fce238.f20918",
        "name": "",
        "auth": "",
        "variable": "Trace",
        "scope": "user",
        "device": "myPhoton",
        "product": "",
        "x": 340,
        "y": 460,
        "wires": [
            [
                "5f96608e.fc409",
                "d691c3af.97267"
            ]
        ]
    },
    {
        "id": "79f9f8de.e413d",
        "type": "ui_led",
        "z": "f4fce238.f20918",
        "order": 2,
        "group": "d3f45b63.8aeba8",
        "width": "3",
        "height": "1",
        "label": "LED",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "LED",
        "x": 630,
        "y": 680,
        "wires": []
    },
    {
        "id": "674ab529.794dac",
        "type": "ui_button",
        "z": "f4fce238.f20918",
        "name": "",
        "group": "7ea491c7.a2ae9",
        "order": 4,
        "width": "3",
        "height": 1,
        "passthru": false,
        "label": "Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "UP",
        "topicType": "str",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "d52de4df.88515"
            ]
        ]
    },
    {
        "id": "e393d4a6.49eb9",
        "type": "particle-subscribe",
        "z": "f4fce238.f20918",
        "name": "subscribe",
        "auth": "",
        "scope": "user",
        "product": "",
        "event": "9ac6b059-bfa5-4ae2-b1cc-a9b3a7978850",
        "device": "myPhoton",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "cdbd5029.0d7c",
                "b7443e08.62181"
            ]
        ]
    },
    {
        "id": "cdbd5029.0d7c",
        "type": "debug",
        "z": "f4fce238.f20918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "b7443e08.62181",
        "type": "ui_led",
        "z": "f4fce238.f20918",
        "order": 2,
        "group": "7ea491c7.a2ae9",
        "width": "3",
        "height": "1",
        "label": "Ready",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#00ff00",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Ready",
        "x": 630,
        "y": 760,
        "wires": []
    }
]