Node-RED Project/flow.json
[
    {
        "id": "f4fce238.f20918",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ea491c7.a2ae9",
        "type": "ui_group",
        "name": "Send",
        "tab": "10240e8e.7d9c11",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9ee141ba.19cb8",
        "type": "ui_group",
        "name": "Trace",
        "tab": "10240e8e.7d9c11",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "d3f45b63.8aeba8",
        "type": "ui_group",
        "name": "Display",
        "tab": "10240e8e.7d9c11",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "31b560e0.30b558",
        "type": "particle-config",
        "clientId": "messages-2-7329",
        "clientSecret": "686e3bef8509f36a4383bc6009132c6e7f5243e4"
    },
    {
        "id": "10240e8e.7d9c11",
        "type": "ui_tab",
        "name": "Messages",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d2403541.82894",
        "type": "ui_form",
        "z": "f4fce238.f20918",
        "name": "",
        "label": "Messages",
        "group": "7ea491c7.a2ae9",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Line 1",
                "value": "1",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Line 2",
                "value": "2",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "1": "",
            "2": ""
        },
        "payload": "",
        "submit": "Send",
        "cancel": "Cancel",
        "topic": "UPDATE",
        "topicType": "str",
        "splitLayout": false,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "aaa9f5c5.0d75a"
            ]
        ]
    },
    {
        "id": "c35cafd6.d408f",
        "type": "ui_switch",
        "z": "f4fce238.f20918",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "7ea491c7.a2ae9",
        "order": 3,
        "width": "3",
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "LED",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "9c9d8d3c.cefc98"
            ]
        ]
    },
    {
        "id": "23aae01c.3cf83",
        "type": "comment",
        "z": "f4fce238.f20918",
        "name": "",
        "info": "# Personal Access Token\n\n1. Go to https://console.particle.io/authentication\n\n2. Click on **New Client**\n3. Select **Two-legged Auth (Server)**\n4. Enter the name= `Messages`\n5. Copy the client ID and the key.\n\nExamples\n* Client ID= `messages-1234`\n* Key= `0123456789abcdef0123456789abcdef0123456`\n\nHelp and procedure at https://docs.particle.io/tutorials/device-cloud/authentication/",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "29508482.f1610c",
        "type": "ui_button",
        "z": "f4fce238.f20918",
        "name": "",
        "group": "7ea491c7.a2ae9",
        "order": 5,
        "width": "3",
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "CLEAR",
        "topicType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "9c9d8d3c.cefc98"
            ]
        ]
    },
    {
        "id": "9c9d8d3c.cefc98",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"action\": topic, \"data\": payload}",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "event",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "aa4a9e83.dc6548"
            ]
        ]
    },
    {
        "id": "a6c243d3.afdf08",
        "type": "comment",
        "z": "f4fce238.f20918",
        "name": "",
        "info": "# Input \n\n> {\"payload\":{\"1\":\"Line 1\",\"2\":\"Line 2\"},\"topic\":\"UPDATE\"}\n\n# JSONata 1\n\n`{\"data\": [$each(payload, function($v, $k) {$v})], \"action\": \"update\" }`\n\n> {\n>     \"data\": [\n>         \"Line 1\",\n>         \"Line 2\"\n>     ],\n>     \"action\": \"update\"\n> }\n\n# JSONata 2\n\n`{\"data\": [$spread(payload)], \"action\": \"update\" }\n`\n\n> {\n>     \"data\": [\n>         {\n>             \"1\": \"aaa\\nbbb\\nccc\"\n>         },\n>         {\n>             \"2\": \"ddd\"\n>         }\n>     ],\n>     \"action\": \"update\"\n> }\n\n# JSONata 3\n\n`{\"data\": payload, \"action\": topic }`\n\n> {\n>     \"data\": {\n>         \"1\": \"aaa\\nbbb\\nccc\",\n>         \"2\": \"ddd\"\n>     },\n>     \"action\": \"UPDATE\"\n> }",
        "x": 380,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa4a9e83.dc6548",
        "type": "json",
        "z": "f4fce238.f20918",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "575a4e5b.f6fcc",
                "7cf34dc0.a27a94"
            ]
        ]
    },
    {
        "id": "575a4e5b.f6fcc",
        "type": "debug",
        "z": "f4fce238.f20918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "7cf34dc0.a27a94",
        "type": "switch",
        "z": "f4fce238.f20918",
        "name": "",
        "property": "$length(payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "lt",
                "v": "255",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "ebe200ed.aeaa48",
                "e5997f50.fd19c"
            ],
            [
                "273d3ac1.6d244e"
            ]
        ]
    },
    {
        "id": "b6a51ca7.cd45b8",
        "type": "ui_toast",
        "z": "f4fce238.f20918",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "273d3ac1.6d244e",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$length(payload) & \" > 255 caractères\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Message trop long",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "b6a51ca7.cd45b8"
            ]
        ]
    },
    {
        "id": "55540ab1.d40594",
        "type": "json",
        "z": "f4fce238.f20918",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "15b878be.fd0587",
                "6e878147.a1d328",
                "437862a6.8d8ea4",
                "290ce7c3.1c7848",
                "6cedb9f6.a6aad"
            ]
        ]
    },
    {
        "id": "ebe200ed.aeaa48",
        "type": "ui_text",
        "z": "f4fce238.f20918",
        "group": "9ee141ba.19cb8",
        "order": 8,
        "width": "12",
        "height": "2",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "aaa9f5c5.0d75a",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"action\": topic, \"data\": payload}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "aa4a9e83.dc6548"
            ]
        ]
    },
    {
        "id": "42ae02eb.eaca84",
        "type": "ui_text",
        "z": "f4fce238.f20918",
        "group": "d3f45b63.8aeba8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Top",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 630,
        "y": 580,
        "wires": []
    },
    {
        "id": "360e35a4.c5c12a",
        "type": "ui_text",
        "z": "f4fce238.f20918",
        "group": "d3f45b63.8aeba8",
        "order": 4,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "Lines",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "5e1f70a4.595bd8",
        "type": "ui_text",
        "z": "f4fce238.f20918",
        "group": "d3f45b63.8aeba8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bottom",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 640,
        "y": 660,
        "wires": []
    },
    {
        "id": "15b878be.fd0587",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.LED",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "fcef220.593bb6"
            ]
        ]
    },
    {
        "id": "2551e604.76330a",
        "type": "ui_button",
        "z": "f4fce238.f20918",
        "name": "",
        "group": "d3f45b63.8aeba8",
        "order": 1,
        "width": "3",
        "height": 1,
        "passthru": false,
        "label": "Check",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "ee34b666.7b6cd8"
            ]
        ]
    },
    {
        "id": "6e878147.a1d328",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.bottom",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 660,
        "wires": [
            [
                "5e1f70a4.595bd8"
            ]
        ]
    },
    {
        "id": "437862a6.8d8ea4",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.lines",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 620,
        "wires": [
            [
                "360e35a4.c5c12a"
            ]
        ]
    },
    {
        "id": "290ce7c3.1c7848",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.top",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 580,
        "wires": [
            [
                "42ae02eb.eaca84"
            ]
        ]
    },
    {
        "id": "6cedb9f6.a6aad",
        "type": "change",
        "z": "f4fce238.f20918",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.DST",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 740,
        "wires": [
            [
                "4ca5f386.033dec"
            ]
        ]
    },
    {
        "id": "4ca5f386.033dec",
        "type": "debug",
        "z": "f4fce238.f20918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 740,
        "wires": []
    },
    {
        "id": "ee34b666.7b6cd8",
        "type": "particle-variable",
        "z": "f4fce238.f20918",
        "name": "",
        "auth": "31b560e0.30b558",
        "variable": "Trace",
        "scope": "user",
        "device": "myPhoton",
        "product": "",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "ebe200ed.aeaa48",
                "55540ab1.d40594"
            ]
        ]
    },
    {
        "id": "fcef220.593bb6",
        "type": "ui_led",
        "z": "f4fce238.f20918",
        "order": 2,
        "group": "d3f45b63.8aeba8",
        "width": "3",
        "height": "1",
        "label": "LED",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "black",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "blue",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "LED",
        "x": 630,
        "y": 700,
        "wires": []
    },
    {
        "id": "b17c59af.4ad89",
        "type": "ui_button",
        "z": "f4fce238.f20918",
        "name": "",
        "group": "7ea491c7.a2ae9",
        "order": 4,
        "width": "3",
        "height": 1,
        "passthru": false,
        "label": "Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "UP",
        "topicType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "9c9d8d3c.cefc98"
            ]
        ]
    },
    {
        "id": "c6ff67f9.f042f",
        "type": "debug",
        "z": "f4fce238.f20918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 780,
        "wires": []
    },
    {
        "id": "df101e60.c6691",
        "type": "ui_led",
        "z": "f4fce238.f20918",
        "order": 2,
        "group": "7ea491c7.a2ae9",
        "width": "3",
        "height": "1",
        "label": "Ready",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "str"
            },
            {
                "color": "#00ff00",
                "value": "true",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "Ready",
        "x": 630,
        "y": 780,
        "wires": []
    },
    {
        "id": "e5997f50.fd19c",
        "type": "particle-publish",
        "z": "f4fce238.f20918",
        "name": "",
        "scope": "user",
        "x": 640,
        "y": 360,
        "wires": []
    },
    {
        "id": "92fd21d7.e213a8",
        "type": "particle-subscribe",
        "z": "f4fce238.f20918",
        "name": "",
        "scope": "user",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "c6ff67f9.f042f",
                "df101e60.c6691"
            ]
        ]
    }
]